<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Browser" value="Chrome"/>
		<add key="Username" value="santhireddy36@gmail.com"/>
		<add key ="Password" value="sravanthi1@"/>
		<add key="AppUrl" value="https://www.snapdeal.com/"/>
		<add key="ExecutionType" value="Grid"/>
	</appSettings>
</configuration>